#recipe-view {
    text-align: center;
    font-weight: bold;
    color: white;
    
}

img {
    height: 200px;
    width: 250px;
    border: 3px solid black;
    border-radius: 20px;
    margin: 0px auto;
    display: block;
    padding: 10px;
}

p {
    color: black;
}

#valRecipeInput {
    color: red;
}

#recipe-input {
    /* height: 18px; */
    font-size: 12px;
}


@media (max-width: 768px) {
    .jumbotron {
      background-position: 100% 50%;
    }
  }